---
// ./src/components/BlogPostList.astro
import { postsQuery } from '../sanity/lib/queries';
import { loadQuery } from '../sanity/lib/load-query';
import MainImage from './MainImage.astro';

const { data: posts } = await loadQuery({
  query: postsQuery,
});
---

<ul>
  {posts.map((post) => (
    <li>
      <a href={`/blog/${post.slug.current}`}>
        {post.mainImage && (
          <MainImage class="main__img" mainImage={post.mainImage} alt={post.title} />
        )}
        <h2>{post.title}</h2>
        <p>{new Date(post.publishedAt).toLocaleDateString()}</p>
      </a>
    </li>
  ))}
</ul>

<style>
  .main__img {
    width: 100%;
    margin-inline: auto;
    max-width: 800px;
    opacity: 50%;
  }
</style>