---
import Icon from "./Icon.astro";
export interface Props {
  label?: string;
}
const { label = "Clear Filter" } = Astro.props;
---

<a class="clear-filter" href="/blog"
  >{label}
  <Icon name="close" title="Clear filter" size={24} />
</a>
<!-- <a href="/blog">Clear filter</a> -->

<style>
  .clear-filter {
    display: flex;
    align-items: center;
    background-color: var(--clr-neutral-light-2);
    border: var(--border) var(--clr-accent);
    padding: var(--spacing-xxxs) var(--spacing-xxs);
    font-size: var(--fs-xs);
    font-weight: var(--fw-bold);
    border-radius: var(--border-radius);
    margin-top: var(--spacing-md);
  }

  .clear-filter:hover {
    background-color: var(--clr-accent-light);
  }

  .clear-filter:focus-visible {
    outline: none;
    box-shadow: var(--focus-shadow) var(--clr-accent);
  }
</style>
