---
// Link.astro
const { href, class: className = "" } = Astro.props;
---

<a href={href} class={`link ${className}`}>
  <slot />
</a>

<style>
  .link {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-xxs);
    font-weight: var(--fw-bold);
  }
</style>
