---
// Accept slot and fallback to text prop
const { href, text = "" } = Astro.props;
---

<a href={href} class="link btn-secondary">
  <slot>{text}</slot>
</a>

<style>
  .link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-xxxs) var(--spacing-xs);
    gap: var(--spacing-xs);
  }
</style>
