---
// Pagination.astro
import Link from "./Link.astro";
import Icon from "./Icon.astro";

const { prevUrl, nextUrl, currentPage } = Astro.props;
---

{
  (prevUrl || nextUrl) && (
    <nav aria-label="Pagination for blog posts " class="pagination wrapper">
      {prevUrl && (
        <Link href={prevUrl} class="pagination__link">
          <Icon name="arrow" size={12} title="Go back" class="icon--rotate" />
          <span>Go back</span>
        </Link>
      )}
      <div class="pagination__spacer" />
      {nextUrl && (
        <Link href={nextUrl} class="pagination__link pagination__link--next">
          <span>Page {currentPage + 1}</span>
          <Icon name="arrow" size={12} title="Next" />
        </Link>
      )}
    </nav>
  )
}

<style>
  .pagination {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-sm);
    margin-top: var(--spacing-sm);
    margin-bottom: var(--spacing-xs);
    font-size: var(--fs-xs);
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
</style>
