---
// components/PostDetailNew.astro
import SanityImage from "./SanityImage.astro";
import PortableText from "./PortableText.astro";
import TagList from "./TagList.astro";

const { post } = Astro.props;
---

<article class="blog-post">
  {
    post.mainImage && (
      <SanityImage image={post.mainImage} maxWidth={1000} loading="eager" />
    )
  }

  <h1>{post.title}</h1>

  <TagList tags={post.tags} />
  <PortableText portableText={post.body} />
</article>
