---
// ./src/components/PostCard.astro
const { post } = Astro.props; // Get the post object passed as a prop
import SanityImage from "./sanity/SanityImage.astro";
import Icon from "./Icon.astro";
import SanityFallbackImage from "./sanity/SanityFallbackImage.astro";

const hasImage = post.mainImage && post.mainImage.asset;
---

<article class="post-card">
  <a href={`/blog/${post.slug.current}`} class="post-card__link">
    <!-- <SanityImage
      class="post-card__image"
      image={{ ...post.mainImage }}
      maxWidth={600}
    /> -->
    <!-- todo: rmove import and delete has image logic later -->
    {
      hasImage ? (
        <SanityImage
          class="post-card__image"
          image={{ ...post.mainImage }}
          maxWidth={600}
        />
      ) : (
        <SanityFallbackImage title={post.title} />
      )
    }

    <div class="post-card__content">
      <h3>{post.title}</h3>
      <div class="post-card__action">
        <Icon name="book" title="Read article" />
        <span>Read post</span>
      </div>
    </div>
  </a>
</article>

<style>
  .post-card {
    margin-inline: auto;
  }

  .post-card__image {
    aspect-ratio: 1/0.5;
    object-fit: cover;
    border-radius: var(--border-radius);
  }

  .post-card h3 {
    font-size: var(--fs-fluid-h3);
    margin-top: var(--spacing-sm);
  }

  .post-card__content {
    display: flex;
    flex-direction: column;
  }

  .post-card__action {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs); /* or var(--spacing-xs) */
    margin-top: var(--spacing-sm);
  }

  .post-card__action span {
    font-weight: var(--fw-bold);
  }
</style>
