---
import { sanityClient } from "sanity:client";
import { postsQuery } from "../sanity/lib/queries";
import PostCard from "./PostCard.astro";
import PostCta from "./PostCta.astro";
import PostListGrid from "./PostListGrid.astro";

let recentPosts = [];
let errorMessage = ""; // Store the error message

try {
  const posts = await sanityClient.fetch(postsQuery);
  recentPosts = posts.slice(0, 3); // Limit to 3 posts
} catch (error) {
  errorMessage = "Sorry, we couldn't load the recent posts at the moment.";
  if (import.meta.env.DEV) {
    console.error("Error fetching recent posts:", error);
  }
}
---

<section class="recent-posts">
  <div class="recent-posts__inner wrapper">
    <h2>Recent Posts</h2>
    {
      recentPosts.length > 0 ? (
        <PostListGrid>
          {recentPosts.map((post, index) => (
            <li>
              <PostCard post={post} loading={index === 0 ? "eager" : "lazy"} />
            </li>
          ))}
        </PostListGrid>
      ) : (
        <p>No posts available.</p>
      )
    }
    <div class="recent-posts__cta">
      <p>Discover the stillness inside</p>
      <!-- Assume PostCta is another component -->
      <PostCta />
    </div>
  </div>
</section>

<style>
  .recent-posts {
    background-color: var(--clr-neutral-light);
  }

  .recent-posts__inner {
    padding-block: var(--spacing-xl);
  }

  .recent-posts h2 {
    font-size: var(--fs-fluid-h2);
    margin-bottom: var(--spacing-xl);
  }

  .recent-posts__cta {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    align-items: center;
  }
</style>
