---
// components/RelatedPosts.astro
import PostCard from "./PostCard.astro";
import PostListGrid from "./PostListGrid.astro";

const { relatedPosts } = Astro.props;
---

{
  // Only render the related posts section if there are related posts
  relatedPosts && relatedPosts.length > 0 && (
    <section class="related-posts wrapper">
      <h2>Related Posts</h2>
      <PostListGrid>
        {relatedPosts.map((post) => (
          <li>
            <PostCard post={post} />
          </li>
        ))}
      </PostListGrid>
    </section>
  )
}

<style>
  .related-posts h2 {
    font-size: var(--fs-fluid-h2);
    margin-bottom: var(--spacing-lg);
  }
</style>
