---
// components/TagList.astro
const { tags } = Astro.props;
---

{
  tags && tags.length > 0 && (
    <ul class="tag-list">
      {tags.map((tag, index) => (
        <li class="tag" key={tag._id}>
          #{tag.title}
          {index < tags.length - 1 ? "," : ""}
        </li>
      ))}
    </ul>
  )
}
<style>
  .tag-list {
    display: flex;
    gap: var(--spacing-xxs);
  }
</style>
