<footer class="footer">
  <div class="footer__container">
    <div class="footer__sections">
      <div class="footer__section">
        <h2>Quick Links</h2>
        <ul>
          <li><a href="/contact" data-astro-prefetch="false">Contact</a></li>
          <li><a href="/" data-astro-prefetch="false">Home</a></li>
          <li>
            <a href="/privacy" data-astro-prefetch="false">Privacy Policy</a>
          </li>
          <li><a href="/search" data-astro-prefetch="false">Search Blog</a></li>
        </ul>
      </div>

      <div class="footer__section">
        <h2>Contact</h2>
        <p>
          Email: <a href="mailto:contact@example.com"
            >contact@healingwithlayla.com</a
          >
        </p>
      </div>
    </div>

    <div class="footer__bottom">
      <p>
        &copy; {new Date().getFullYear()} All Rights Reserved.
      </p>
    </div>
  </div>
</footer>

<style>
  /* Footer Layout */
  .footer {
    background-color: var(
      --clr-neutral-light
    ); /* Use background color variable */
    padding: var(--spacing-xxl) var(--spacing-sm);
    font-size: var(--fs-sm);
    color: var(--clr-text-light); /* Use text color variable */
  }

  .footer__container {
    max-width: var(--wrapper-width);
    margin-inline: auto;
  }

  /* Mobile-first layout */
  .footer__sections {
    display: grid;
    grid-template-columns: 1fr; /* Stack on mobile */
    gap: var(--spacing-lg);
    margin-bottom: var(--spacing-lg);
  }

  .footer__section {
    display: flex;
    flex-direction: column;
  }

  .footer__section h2 {
    font-size: var(--fs-md);
    margin-bottom: var(--spacing-sm);
    font-weight: var(--fw-bold);
    color: var(--clr-primary);
  }

  .footer__section a {
    color: var(--clr-primary);
    text-decoration: none;
    transition: color var(--transition-duration);
  }

  .footer__section ul {
    letter-spacing: var(--letter-spacing);
  }

  .footer__section a:hover {
    color: var(--clr-secondary);
  }

  .footer__bottom {
    text-align: center;
    font-size: var(--fs-xs);
    color: var(--clr-neutral-dark);
  }

  /* Responsive: For larger screens (e.g., tablets, desktops), organize footer links in multiple columns */
  @media (min-width: 768px) {
    .footer__sections {
      grid-template-columns: 1fr 1fr; /* 2 columns on larger screens */
    }
  }
</style>
