---
import Logo from "../components/Logo.astro";
---

<header class="hero">
  <div class="hero__inner wrapper">
    <div class="hero-logo__container">
      <Logo class="hero-logo" />
      <span class="hero-logo__tagline">Therapy Blog</span>
    </div>

    <div class="hero__content">
      <h1 class="hero__title">Step into stillness</h1>
      <p class="hero__description">
        A quiet space to reconnect with yourself through gentle reflections and
        meaningful insights.
        <br />
      </p>
      <a href="/blog" class="hero__cta btn btn-primary">Begin exploring</a>
    </div>
  </div>
</header>

<style>
  .hero {
    padding-top: var(--spacing-xxxl);
    padding-bottom: var(--spacing-xl);
  }

  .hero-logo {
    width: clamp(12rem, 10vw + 6rem, 16rem);
    max-width: 100%;
  }

  .hero-logo__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--spacing-xl);
  }

  .hero-logo__tagline {
    font-size: var(--fs-sm);
    color: var(--clr-text-light);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
  }

  .hero__title {
    font-size: var(--fs-fluid-h1);
    margin-bottom: var(--spacing-xs);
    line-height: var(--lh-tight);
  }

  .hero__description {
    text-wrap: balance;
    color: var(--clr-text-light);
  }

  .hero__cta {
    margin-top: var(--spacing-md);
    font-size: clamp(var(--fs-xs), calc(var(--fs-xs) + 0.25vw), 1.25rem);
  }

  .btn-primary {
    color: var(--clr-neutral-light);
  }

  /* mq */
  @media (max-width: 768px) {
    .hero__description {
      max-width: 26ch;
    }
  }

  @media (min-width: 1200px) {
    .hero {
      position: relative;
      /* height: 60vh; */
      border: none;
      overflow: hidden;
    }

    .hero::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url(/imgs/flower.png);
      background-size: 20%;
      background-position: left 10% center;
      background-repeat: no-repeat;
      opacity: 0.6; /* Lower this value for more transparency */
    }

    .hero > * {
      position: relative;
      z-index: 1;
    }

    .hero__content {
      display: grid;
      place-items: self-start;
    }

    .hero__inner {
      display: flex;
      justify-content: space-between;
      align-items: first baseline;
      padding-top: var(--spacing-xxxl);
      padding-bottom: var(--spacing-xl);
    }

    .hero__cta {
      margin-top: var(--spacing-xl);
      margin-left: auto;
    }
  }
</style>
