---
import MenuAnimation from "./MenuAnimation";
---

<!-- TheNavigation.astro -->
<nav class="menu">
  <button
    class="menu__toggle btn"
    aria-expanded="false"
    aria-controls="menu-list">Menu</button
  >

  <ul class="menu__list">
    <div class="menu__inner">
      <li class="menu__item"><a href="/" class="menu__link">Home</a></li>

      <li class="menu__item"><a href="#" class="menu__link">About</a></li>

      <li class="menu__item"><a href="/blog" class="menu__link">Blog</a></li>

      <li class="menu__item"><a href="#" class="menu__link">Contact</a></li>
    </div>
  </ul>
</nav>

<MenuAnimation client:load />

<style>
  .menu__toggle {
    color: var(--clr-primary);
    width: 6ch;
    padding: var(--spacing-xxxs) var(--spacing-xs);
    border: var(--border) var(--clr-secondary);
    text-align: center;
  }

  .menu__list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--clr-neutral-light);
    overflow: hidden;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    height: 0;
    box-shadow: var(--box-shadow);
    z-index: 10;
  }

  .menu__inner {
    padding-top: var(--spacing-xxs);
    padding-bottom: var(--spacing-md);
    padding-left: var(--spacing-lg);
  }

  .menu__item:not(:last-child) {
    margin-bottom: var(--spacing-lg);
  }

  .menu__link {
    font-weight: var(--fw-bold);
    color: var(--clr-primary);
    letter-spacing: var(--letter-spacing);
  }
</style>
