/* general  */
#logo {
  color: var(--clr-primary);
}

.logo-size {
  height: clamp(48px, 4vw, 72px);
  width: auto;
}

.wrapper {
  max-width: var(--wrapper-width);
  margin-inline: auto;
}

.blog-wrapper {
  max-width: var(--wrapper-blog);
  margin-inline: auto;
}

#site {
  min-height: 100dvh;
  min-height: 100svh;
  margin-inline: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

#site > main {
  background-color: var(--background-color);
}

footer {
  margin-top: auto;
}

.btn {
  border-radius: var(--border-radius);
  font-weight: var(--fw-bold);
  letter-spacing: var(--letter-spacing);
}

/* Modifier for primary button */
.btn-primary {
  padding: var(--spacing-xs) var(--spacing-sm);
  background-color: var(--clr-primary);
  text-transform: uppercase;
}

/* Modifier for secondary button */
.btn-secondary {
  background-color: var(--clr-neutral-light);
  border: var(--border) var(--clr-secondary);
  border-radius: var(--border-radius);
}

/* components */
/* header */

.site__header {
  display: flex;
  align-items: center;
  padding-inline: var(--spacing-sm);
  padding-block: var(--spacing-xxs);
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: var(--clr-neutral-light);
}

.spacer {
  flex: 1;
}

/* blog  */
.recent-posts__list,
.related-posts__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
  gap: var(--spacing-xl);
  margin-bottom: var(--spacing-xl);
}

/* links */
