/* general  */
#logo {
  color: var(--clr-primary);
}

.logo__size {
  height: 2.5rem;
  width: auto;
}

.logo__size--lg {
  width: 15rem;
  height: auto;
}

.logo {
  display: none;
}

#logo:hover {
  color: var(--clr-secondary);
  transition: var(--transition-duration);
}

/* Show mobile logo by default */
.logo--mobile {
  display: block;
}

/* Tablet and up: hide mobile logo, show desktop logo */
@media (width > 768px) {
  .logo--mobile {
    display: none;
  }

  .logo--desktop {
    display: block;
  }
}

/* Tablet and up: hide mobile logo, show desktop logo */
@media (width > 768px) {
  .logo--mobile {
    display: none;
  }

  .logo--desktop {
    display: block;
  }
}

.wrapper {
  max-width: var(--wrapper-width);
  margin-inline: auto;
}

.blog-wrapper {
  max-width: var(--wrapper-blog);
  margin-inline: auto;
}

#site {
  min-height: 100dvh;
  min-height: 100svh;
  margin-inline: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

#site > main {
  background-color: var(--background-color);
}

footer {
  margin-top: auto;
}

.btn {
  border-radius: var(--border-radius);
  font-weight: var(--fw-bold);
  letter-spacing: var(--letter-spacing);
}

/* Modifier for primary button */
.btn-primary {
  padding: var(--spacing-xs) var(--spacing-sm);
  background-color: var(--clr-primary);
  color: var(--clr-neutral-light);
  text-transform: uppercase;
  transition:
    background-color var(--transition-duration),
    transform 0.2s ease;
}

.btn-primary:hover {
  background-color: #0c3f39; /* darker version of #0e4f47 */
  transform: translateY(-2px);
}

.btn-primary:focus-visible {
  opacity: 0.8;
  outline: none;
  box-shadow: var(--focus-shadow) var(--clr-primary);
}

/* Modifier for secondary button */
.btn-secondary {
  background-color: var(--clr-neutral-light);
  border: var(--border) var(--clr-secondary);
  border-radius: var(--border-radius);
}

.btn-secondary:hover {
  background-color: var(--clr-secondary);
  color: var(--clr-neutral-light);
  transition: background-color var(--transition-duration);
}

/* components */
/* header */

.site__header {
  padding-inline: var(--spacing-sm);
  padding-block: var(--spacing-xxs);
  position: sticky;
  top: 0;
  z-index: 20;
  height: 3.5rem;
  background-color: var(--clr-neutral-light);
}
.site__header--inner {
  display: flex;
}

/* mq */
@media (width > 768px) {
  .site_-header {
    padding: 0;
  }

  .site__header--inner {
    min-height: 3.75rem;
    width: var(--wrapper-width);
    margin-inline: auto;
  }
}

.spacer {
  flex: 1;
}

/* blog  */

.post-list__container {
  container-type: inline-size;
  container-name: post-list-grid;
}

.post-list__items {
  display: grid;
  gap: var(--spacing-xl);
  margin-bottom: var(--spacing-xl);
  grid-template-columns: 1fr;
}

@container post-list-grid (width > 700px) {
  .post-list__items {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* links */
.pagination__spacer {
  flex-grow: 1;
}

.link {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-xxs);
  color: var(--clr-neutral-dark);
  transition: color var(--transition-duration);
}

.link:hover {
  color: var(--clr-secondary); /* this affects both text + SVG icons */
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transition: background-color var(--transition-duration);
}

.icon--rotate {
  transform: rotate(180deg);
}

/* serach flex */
.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xxs);
}

textarea[data-as="textarea"][data-scheme="dark"] {
  background-color: var(--input-bg-color) !important;
  color: var(--input-text-color) !important;
}

textarea[data-as="textarea"][data-scheme="dark"]:focus {
  background-color: var(--input-bg-color--focus) !important;
  color: var(--input-text-color--focus) !important;
  border-color: var(--input-border-color--focus) !important;
}
