<svg
  xmlns="http://www.w3.org/2000/svg"
  aria-hidden="true"
  stroke="currentColor"
  fill="none"
  viewBox="0 0 24 24"
  role="img"
  {...Astro.props}
>
  <title>{Astro.props.title}</title>
  <line
    x1="8.43"
    y1="7.79"
    x2="15.69"
    y2="16.34"
    stroke-linecap="round"
    stroke-miterlimit="10"
    stroke-width="1"></line>
  <line
    x1="8.4"
    y1="16.29"
    x2="15.65"
    y2="7.74"
    stroke-linecap="round"
    stroke-miterlimit="10"
    stroke-width=" 1"></line></svg
>
