<!-- IconReadPost.astro -->
<svg
  xmlns="http://www.w3.org/2000/svg"
  aria-hidden="true"
  stroke="currentColor"
  fill="none"
  stroke-width=".7"
  viewBox="0 0 24 24"
  {...Astro.props}
>
  <title>{Astro.props.title}</title>
  <!-- Your cleaned SVG paths here -->
  <path
    stroke-linecap="round"
    stroke-miterlimit="10"
    d="M17.28 17.79h0c-.7-.75-.01-1.44-.01-1.44m.01-.01V6.45a.47.47 0 0 0-.47-.47H7.66c-.52 0-.94.42-.94.94v10.12"
  ></path><path
    stroke-miterlimit="10"
    d="M8.64 5.98v10.36m8.64 1.45h-.01l-9.97-.05c-.17 0-.33-.08-.43-.22a.835.835 0 0 1-.03-.91c.1-.16.28-.26.48-.26h9.93s.02-.01.03-.01"
  ></path><rect
    width="5.47"
    height="2.25"
    x="10.22"
    y="7.99"
    stroke-miterlimit="10"
    rx=".91"
    ry=".91"></rect><path
    stroke-linecap="round"
    stroke-miterlimit="10"
    d="M10.22 12.09h5.47m-4.46 1.26h3.35"></path>
</svg>
