---
// IconArrow.astro
---

<!-- <svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 41.23 103.18"
  aria-hidden="true"
  stroke="currentColor"
  fill="none"
  {...Astro.props}
>
  <title>{Astro.props.title}</title>
  <path
    stroke-linecap="round"
    stroke-miterlimit="10"
    stroke-width="8"
    d="m1.5 1.5 38.06 49.66c.23.31.23.73 0 1.04L1.5 101.68"></path>
</svg> -->
<svg
  xmlns="http://www.w3.org/2000/svg"
  stroke="currentColor"
  fill="none"
  viewBox="0 0 24 24"
  aria-hidden="true"
  role="img"
  {...Astro.props}
  ><path
    stroke-linecap="round"
    stroke-miterlimit="10"
    d="m12.58 7.21 4.75 4.75s.03.09 0 .12l-4.75 4.75M17.35 12.02 6.61 12"
  ></path><path
    stroke-linecap="round"
    stroke-miterlimit="10"
    stroke-width=".25"
    d="M17.25 12s.04-.06.04-.04M17.32 12.06l-.07-.03"></path></svg
>
