---
// IconArrow.astro
---

<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 41.23 103.18"
  aria-hidden="true"
  stroke="currentColor"
  fill="none"
  {...Astro.props}
>
  <title>{Astro.props.title}</title>
  <path
    stroke-linecap="round"
    stroke-miterlimit="10"
    stroke-width="3"
    d="m1.5 1.5 38.06 49.66c.23.31.23.73 0 1.04L1.5 101.68"></path>
</svg>
