<!-- IconCalendar.astro -->
<svg
  xmlns="http://www.w3.org/2000/svg"
  aria-hidden="true"
  stroke="currentColor"
  fill="none"
  stroke-width=".7"
  viewBox="0 0 24 24"
  {...Astro.props}
>
  <title>{Astro.props.title}</title>
  <path
    stroke-miterlimit="10"
    d="M7.7 5.82h8.52c.56 0 1.01.45 1.01 1.01v9.88c0 .55-.45 1-1 1H7.7c-.55 0-.99-.45-.99-.99V6.81c0-.55.44-.99.99-.99Z"
  ></path><path
    stroke-linecap="round"
    stroke-miterlimit="10"
    d="M8.92 5.78c0-.34.29-.62.64-.62a.634.634 0 0 1 .64.62v.81c0 .35-.29.63-.64.63h-.03m4.3-1.44c0-.34.29-.62.64-.62s.64.28.64.63v.81c0 .35-.29.63-.64.63h0M9.46 8.72h5.65m-7.07 2.27h1.91m.99 0h2m.91 0h2.04M8.04 13.3h1.91m.99 0h2m.91 0h2.04m-7.82 2.16h1.91m.99 0h2"
  ></path></svg
>
