<svg
  xmlns="http://www.w3.org/2000/svg"
  aria-hidden="true"
  stroke="currentColor"
  fill="none"
  viewBox="0 0 24 24"
  role="img"
  {...Astro.props}
>
  <title>{Astro.props.title}</title>
  <path
    stroke-linecap="round"
    stroke-miterlimit="10"
    stroke-width=".7"
    d="M11.66 9.3l-.64-.64c-.24-.24-.61-.26-.82-.04L4.53 14.3a.59.59 0 0 0-.15.41c0 .15.07.3.19.41l2.61 2.62c.24.24.61.26.82.04l5.67-5.68a.59.59 0 0 0-.04-.83l-.76-.76"
  ></path>
  <path
    stroke-linecap="round"
    stroke-miterlimit="10"
    stroke-width=".7"
    d="M12.3 14.67l.65.65c.24.24.61.26.82.04l5.67-5.68a.59.59 0 0 0-.04-.83l-2.61-2.61c-.24-.24-.61-.26-.82-.04l-5.67 5.68a.59.59 0 0 0 .04.82l.79.79"
  ></path>
</svg>
