<svg
  xmlns="http://www.w3.org/2000/svg"
  aria-hidden="true"
  stroke="currentColor"
  fill="none"
  viewBox="0 0 24 24"
  role="img"
  {...Astro.props}
>
  <title>{Astro.props.title}</title>
  <circle
    cx="11.55"
    cy="11.55"
    r="5.32"
    stroke-miterlimit="10"
    stroke-width=".5"></circle>
  <path
    d="M14.75,15.81c.02.05.05.1.09.14l1.54,1.54.2.2c.17.17.45.17.63,0l.48-.48c.17-.17.17-.45,0-.63l-1.74-1.74s-.09-.07-.14-.1M16.39,17.49l1.07-1.06"
    stroke-miterlimit="10"
    stroke-width=".5"></path>
  <path
    d="M10.13,7.25s2.98-.98,4.9,1.5"
    stroke-linecap="round"
    stroke-miterlimit="10"
    stroke-width=".5"></path>
</svg>
