<!-- IconReadPost.astro -->
<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 92.7 103.35"
  aria-hidden="true"
  stroke="currentColor"
  fill="none"
  {...Astro.props}
>
  <title>{Astro.props.title}</title>
  <!-- Your cleaned SVG paths here -->
  <path
    stroke-miterlimit="10"
    stroke-width="5"
    d="M91.2 101.85h-.05M1.5 95.51V9.49c0-4.42 3.58-7.99 7.99-7.99H87.2c2.21 0 4 1.79 4 3.99v84.09"
  ></path><path
    stroke-miterlimit="10"
    stroke-width="5"
    d="m91.15 101.85-84.76-.39c-1.44 0-2.78-.7-3.6-1.88-.68-.99-1.29-2.35-1.29-4.07 0-1.49.46-2.71 1.03-3.65a4.74 4.74 0 0 1 4.06-2.28h84.32c.11 0 .29-.15.29-.04-.03.79-2.47 2.93-2.57 5.89-.12 3.59 2.08 5.93 2.53 6.39.01.01 0 .03-.02.03h.01ZM17.85 1.5v88"
  ></path><rect
    width="46.45"
    height="19.15"
    x="31.26"
    y="18.65"
    stroke-miterlimit="10"
    stroke-width="5"
    rx="4.01"
    ry="4.01"></rect><path
    stroke-linecap="round"
    stroke-miterlimit="10"
    stroke-width="5"
    d="M31.26 53.4h46.45M39.79 64.16h28.42"></path>
</svg>
