---
// ./src/layouts/Layout.astro
import { VisualEditing } from "@sanity/astro/visual-editing";
import "../styles/style.css";
import "../styles/main.css";
import TheNavigation from "../components/TheNavigation.astro";
import Logo from "../components/Logo.astro";
import TheFooter from "../components/TheFooter.astro";

const { showLogo = true } = Astro.props;

const visualEditingEnabled =
  import.meta.env.PUBLIC_SANITY_VISUAL_EDITING_ENABLED == "true";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="stylesheet" href="https://use.typekit.net/cte2xlh.css" /> -->
    <link rel="stylesheet" href="https://use.typekit.net/cte2xlh.css" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <div>
      <header class="site-header">
        {showLogo && <Logo class="logo-size" />}
        <div class="spacer logo-size"></div>
        <TheNavigation />
      </header>
      <slot />
      <VisualEditing enabled={visualEditingEnabled} />
      <TheFooter />
    </div>
  </body>
</html>
