---
// pages/index.astro (or pages/blog/index.astro)

import Layout from '../layouts/Layout.astro';

import BlogPostList from '../components/BlogPostList.astro';


---

<Layout>
  <section>
    <h1>Latest Blog Posts </h1>
      <BlogPostList/>
  </section>
</Layout>



