---
// pages/index.astro (or pages/blog/index.astro)

import Layout from "../layouts/Layout.astro";
import TheHero from "../components/TheHero.astro";
import RecentPosts from "../components/RecentPosts.astro";
---

<Layout showLogo={false}>
  <main>
    <TheHero />
    <RecentPosts />
  </main>
</Layout>
