---
// pages/index.astro (or pages/blog/index.astro)

import Layout from '../layouts/Layout.astro';


import RecentPosts from '../components/RecentPosts.astro';


---

<Layout>


    <!-- <PostList /> -->
<div><p>hello blog</p></div>
 <a href="/blog">Visit Blog</a>
</Layout>



