---
// PortableTextImageNew.astro
import SanityImage from "./SanityImage.astro";

const { node } = Astro.props;

const image = node.image || node;
const caption = node.caption ?? image.caption;
const attribution = node.attribution ?? image.attribution;
const attributionLink = node.attributionLink ?? image.attributionLink;

const hasCaption = caption || attribution || attributionLink;
---

{
  hasCaption ? (
    <figure class="figure">
      <SanityImage image={{ ...image, alt: node.alt }} class="figure__image" />

      <figcaption>
        {caption}
        {attribution && (
          <>
            {" — "}
            {attributionLink ? (
              <a
                href={attributionLink}
                target="_blank"
                rel="noopener noreferrer"
              >
                {attribution}
              </a>
            ) : (
              attribution
            )}
          </>
        )}
      </figcaption>
    </figure>
  ) : (
    <SanityImage image={image} />
  )
}
